.formWrapper {
  background-color: white;
  padding: 30px 150px;
  box-shadow: 0px 0px 13px 0px rgba(98, 98, 103, 0.774);
  border-radius: 16px;
  margin-bottom: 100px;
}
.inputRow {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  width: 350px;
}
.inputRow label {
  color: var(--dark-gray);
}
.muiInput {
  font-family: 'Space Grotesk' !important;
}
.formInput {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
}
.fileInput {
  display: none;
}
.fileInputLabel {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--dark-gray);
  color: var(--dark-gray);
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.datePicker {
  border-radius: 5px;
  width: 400px;
  height: 40px;
  border: none;
  outline: 1px solid var(--dark-gray);
  color: var(--dark-gray);
  padding: 0 10px;
}
.datePicker:focus {
  outline: 2px solid var(--baby-blue);
}
.description {
  width: 400px;
  height: 230px;
  font-family: 'Bebas Neue', cursive;
}
.fileLabel {
  color: var(--dark-gray);
  margin: 0;
}
.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.submitBtn {
  height: 40px;
  font-size: 18px;
  width: 200px;
  background: var(--baby-blue);
  color: white;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-family: 'Space Grotesk';
  border-radius: 5px;
}
.submitBtn:hover {
  background: rgb(88, 100, 179);
}
.previewImg {
  width: 100px;
  margin-left: 20px;
}
.rowContainer {
  display: flex;
}
