.sidebarContainer{
    width: 150px;
    background: #161819;
    height: 100vh;
}
.link{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
}
.menuList{
    list-style: none;
}