@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", cursive;
  /* background-color: var(--light-gray); */
}
html,
body,
#__next {
  height: 100%;
}
.mantine-Modal-inner::-webkit-scrollbar,
.content::-webkit-scrollbar {
  background: var(--dark-gray);
}
.content::-webkit-scrollbar-track {
  background: var(--light-gray);
}
.mantine-Modal-inner::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
  background: #717171;
  border-radius: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  --baby-blue: #5c7aff;
  --light-gray: #f2f2f2;
  --dark-gray: #666666;
  --light-gray2: #a3a3a3;
}
.gray {
  background-color: var(--light-gray);
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.leaflet-container {
  width: calc(100vw - 175px);
  height: 100vh;
}
.leaflet-popup-content {
  width: 250px !important;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 8px;
  right: 8px;
}
.leaflet-popup {
  left: -129px !important;
}

/*burger menu animation*/
.line {
  transition: ease-in-out 0.3s;
}
.line-1-open {
  transform: rotate(40deg) translateX(4px);
}
.line-3-open {
  transform: rotate(-40deg) translateY(9px) translateX(-17px);
}
.line-2-open {
  opacity: 0;
}

