.eventsContainer {
  height: 80%;
  overflow-y: scroll;
  padding: 40px;
}
.eventsContainer::-webkit-scrollbar-thumb {
  background-color: var(--baby-blue);
  border-radius: 10px;
  width: 10px;
}

.eventsContainer::-webkit-scrollbar {
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  width: 8px;
}
.container {
  display: flex;
  height: calc(100vh - 80px);
}
.mapContainer {
  width: calc(100vw - 550px);
}
.mapButton {
  display: none;
}
@media screen and (max-width: 720px) {
  .mapContainer {
    width: 100%;
    position: absolute;
    opacity: 0;
    border-radius: 0;
    z-index: -1;
    pointer-events: none;
  }
  .mapContainerActive {
    opacity: 1;
    z-index: 9;
    pointer-events: all;
  }
  .mapButton {
    position: fixed;
    background-color: var(--baby-blue);
    border: none;
    color: white;
    width: 200px;
    border-radius: 8px;
    font-size: 17px;
    font-family: "Space Grotesk", cursive;
    font-weight: bold;
    height: 50px;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
  }
  .eventsListContainer {
    display: block;
  }
  .eventsListContainerHidden {
    display: none;
  }
  .icon {
    width: 20px;
    margin-right: 15px;
  }
}
